
<div class="h1">  <h1>Welcome to Networkpedia</h1></div>

  <div id="welcome_links">
    <%= link_to "View Posts", posts_url %><br/>
    <%= link_to "View Categories", categories_url %><br/>

  </div>
