/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#banner {
  background: #0d3a8c;
  height: 100px;
  padding: 40px;
  border : 2px solid;
  font: small-caps 60px/100px "Times New Roman", serif;
  text-align: center;
}
#banner img {
  float: left;
  padding: 0;
  height: 100px;
  width: 100px;
}
#banner a{
  text-decoration: none;
  color: #09c9fd;
  background: #0d3a8c;
}

#login_links {
  font: 20px "times new roman", serif ;
  }
#login_links a { text-decoration: none; }
#login_links a:hover {background-color: #e4fafd; color: #0d3a8c;}

#yield{
  position: relative ;
  min-height: 100%;
  height: 500px;

}

.links{
  text-decoration: none;
  background-color: transparent;
  color: #656565;
}
.links:hover{background-color: transparent; text-decoration: none;}
#footer{
  margin-top: 30px;
  border-top: 2px solid #000;
  /*position: relative;*/
  clear: both;
  padding: 2em 0;
  bottom: 0;
  height: 60px;
  width: 1360px;
  background-color: #0d3a8c;
  font: 20px/15px "Times New Roman", serif;
  color: #09c9fd;
  padding-top: 25px;
  text-align: center;
}